[Desktop Entry]
Comment[en_US]=
Comment=
Exec=bash /etc/switch-sleep-hibernate.sh
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=switch-sleep-hibernate
Name=switch-sleep-hibernate
Path=/usr/bin
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
